{% extends "base.html" %}

{% block title %}
	Welcome to simprove!
{% endblock %}

{% block body %}
<!--
<h2> Please login </h2>
<form action="/login" method="post">
  <p>Username: <input name="username" type="text"/></p>
  <p><input type="submit" value="Login"/></p>
</form>
-->

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>Introducing simprove.</h1>
    <p class="marketing-byline">Want a simple way to improve yourself? Look no further.</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="static/assets/img/bs-docs-twitter-github.png">
        <h2>By flawed people, for flawed people.</h2>
        <p>That's right. You think we don't have problems, too? We want to improve ourselves just as much as you want to improve yourself. And that's why this app works -- because it's built by people who use it.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="static/assets/img/bs-docs-responsive-illustrations.png">
        <h2>Made for everyone.</h2>
        <p>You set your goals. You set your tasks. You set your rewards. You set your boundaries for improving.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="static/assets/img/bs-docs-bootstrap-features.png">
        <h2>Simplicity.</h2>
        <p>Improving yourself isn't complicated. Give simprove a try.</p>
		<p>
		  <a href="stats" class="btn btn-primary btn-large">Sign up here!</a>
		</p>
      </div>
    </div>

    <hr class="soften">

  </div>

</div>

{% endblock %}


{% block navbar %}
  <form class="navbar-form pull-right" action="/login" method="post">
	<input name="username" class="span2" type="text" placeholder="Email">
	<input class="span2" type="password" placeholder="Password">
	<button type="submit" class="btn">Sign in</button>
  </form>
{% endblock %}

{% block masthead %}
		<h1>simprove</h1>
		<p>Sleek, intuitive, and simple web application to improve yourself.</p>
		<p>
		  <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" >Download Source Files</a>
		</p>
		<ul class="masthead-links">
		  <li>
			<a href="http://github.com/lifeismotley/selfimprov" >GitHub project</a>
		  </li>
		  <li>
			<a href="http://stringtheorycellos.com" target="_blank">String Theory</a>
		  </li>
		  <li>
			Version 1.0
		  </li>
		</ul>
{% endblock %}